@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-scroll-print {
    overflow: hidden !important;
  }

  body {
    padding-top: 0 !important;
    font-size: 12px !important;
  }
}
